<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SlackApiUrl" value="https://slack.com/api/users.list?token="/>
    <add key="SlackApiToken" value="yourToken"/>
    <add key="SlackWebHookUrl" value="yourWebHookUrl" />
  </appSettings>
</configuration>
